@if (control && control.invalid && (control.dirty || control.touched)) {
  <div class="error-message">
    @if (control.hasError('required')) {
      <span>Este campo es requerido.</span>
    }
    @if (control.hasError('minlength')) {
      <span>Debe tener al menos {{ control.errors?.['minlength'].requiredLength }} caracteres.</span>
    }
    @if (control.hasError('min')) {
      <span>El valor debe ser mayor a {{ control.errors?.['min'].min }}.</span>
    }
    @if (control.hasError('email')) {
      <span>El formato del correo es inválido.</span>
    }
  </div>
}
