:host ::ng-deep .swiper-pagination-bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 8px;
  height: 8px;
  opacity: 1;
  transition: all 0.3s ease;
}

:host ::ng-deep .swiper-pagination-bullet-active {
  background-color: #ffd724; /* secondary-accent */
  width: 24px;
  border-radius: 5px;
}
