<div class="content-panel active">
  <header class="flex justify-between items-center">
    <div>
      <a routerLink="/admin/marketing" class="text-sm text-primary-accent hover:underline flex items-center gap-2">
        <i class="fas fa-arrow-left"></i> Volver a Marketing
      </a>
      <h1 class="mt-2 text-2xl sm:text-3xl font-bold">{{ isEditMode() ? 'Editar Banner' : 'Añadir Nuevo Banner' }}</h1>
    </div>
  </header>
  <div class="mt-8">
    <app-banner-form
      [isSaving]="isSaving"
      [bannerToEdit]="bannerToEdit()"
      (save)="handleSaveBanner($event)"
      (cancel)="handleCancel()">
    </app-banner-form>
  </div>
</div>
